services:
  caddy:
    build: .
    container_name: caddy
    restart: unless-stopped
    networks:
      - caddy_network
      - isochrone-internal
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./conf:/etc/caddy
      - ./site:/srv
      - caddy_data:/data
      - caddy_config:/config
    environment:
      - CLOUDFLARE_API_TOKEN=${CLOUDFLARE_API_TOKEN}
      - CADDY_LOG_LEVEL=debug

volumes:
  caddy_data:
  caddy_config:

networks:
  caddy_network:
    driver: bridge
  isochrone-internal:
    external: true
